



#desert {scale:  60%;}

#bunker {scale:  60%;}

#elevator {scale: 60%;}

#mothership {scale: 60%;}

#victory {scale: 60%;}

#zorked {scale: 60%;}

body {background-color: peachpuff; text-align: center; margin: auto; width: 60%; font-family: Arial, Helvetica, sans-serif;font-size: 12pt;}

h2 {font-size: 1.25em;text-decoration: underline;}

h3 {font-size: 1.25em;text-decoration: underline;}
